<nav class='nav-header'>
    <main class="landing-container ">
        <div class='nav-logo'>
            <img src="../../assets/images/loop-bg.png" alt="Company Logo" class="nav-logo-icon">
        </div>
        <!-- <ul class='nav-list'>
            <li class="nav-items">
                <span href="/">Home</span>
            </li>
            <li class="nav-items">
                <span>Contact</span>
            </li>
            <li class="nav-items">
                <span>About Us</span>
            </li>
        </ul> -->
    </main>
</nav>

<section class="app-description">
    <main class="landing-container">
        <section class="description">
            <div class="text">
                The best way to connect with <br/> you friends and relate with the team is with <br/> <span class="strong-logo">ChatUP</span>
            </div>
            <div class="flex">
                <button class="auth-shade mr-5">LOGIN</button>
                <button class="auth-inshade">SIGNUP</button>
            </div>
        </section>
        <section class="phone-image">
            <img src="../../assets/images/phone-icon-rb.png" alt="phone image of app">
        </section>
    </main>
</section>