.landing-container {
    width: 65%;
    display: flex;
    /* flex-direction: column; */
    margin: auto;
    height: 100%;
    justify-content: space-between;
}

.nav-header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    background-color: rgb(54, 2, 88);
    padding: 1rem auto;
}

.nav-logo-icon {
    width: 10rem;
    height: 10rem
}

.nav-logo {
    width: 40%;
}

ul.nav-list {
    display: flex;
    width: fit-content;
    justify-content: flex-end
    ;
}

li.nav-items {
    list-style-type: none;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 0 2rem
}

li.nav-items > span {
    cursor: pointer;
    padding: 1rem 1rem;
    color: #fff;
}

li.nav-items > span:hover {
    font-weight: bolder;
    /* color: rgba(0, 0, 255, 0.349); */
    border-bottom: 2px solid #fff;
}

li.nav-items > span:active {
    border-bottom: 2px solid blue;
}

button.auth-blue {
    background-color: blue;
    color: #fff;
    padding: 1rem 3rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

section.app-description{
    background-color: rgb(54, 2, 88);
    padding: 2rem 0;
    height: 84.7%;
}

section.description, section.phone-image  {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.description {
    margin-top: auto;
    margin-bottom: auto;
}

section.phone-image {
    justify-content: flex-end;
}

section.phone-image > img {
    height: 60rem;
    animation: fadein ease-in-out 4s;
    /* width: 20rem; */
}

section.description > .text{
    text-align: left;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    line-height: 5rem;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    animation: slide-in 4s forwards;
    -webkit-animation: slide-in 4s forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slide-in {
    0% {transform: translateX(-10%); opacity: 0; }
    10% { opacity: .1; }
    20% { opacity: .2; }
    30% { opacity: .3; }
    40% { opacity: .4; }
    50% { opacity: .5; }
    60% { opacity: .6; }
    70% { opacity: .7; }
    80% { opacity: .8; }
    90% { opacity: .9; }
    100% { transform: translateX(0%); opacity: 1;}
}

.text > span.strong-logo {
    font-weight: bolder;
    font-size: 3rem;
}

.flex {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    margin-top: 10rem;
    animation: fadein ease-in-out 4s;
    --webkit-animation: fadein ease-in-out 4s;
}

button.auth-shade {
    padding: 1.5rem 4rem;
    color:rgb(54, 2, 88);
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}

button.auth-inshade {
    padding: 1.5rem 4rem;
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1.5rem;
    cursor: pointer;
    outline: none;
}

button.auth-shade:hover, button.auth-inshade:hover {
    font-weight: bolder;
    opacity: .9;
}

.mr-5{
    margin-right: 5rem;
}